/* Structure générale */
body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: #9177b173;
}

.title {
	text-align: center;
}

.container {
    display: flex;
    flex: 1;
}

/* Style pour le logo */
.logo-container {
    position: fixed;
    top: 10px;   /* Espacement depuis le haut */
    left: 10px;  /* Espacement depuis la gauche */
    z-index: 300; /* Placer au-dessus des autres éléments si nécessaire */
}

#logo {
    width: 100px;   /* Ajustez la taille du logo */
    height: auto;   /* Maintenir les proportions de l'image */
    display: block;
}


.sidebar {
    width: 250px;
    background-color: #9177b1;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid #ccc;
    position: fixed;
    left: -250px; /* Position initiale cachée du menu */
    transition: left 0.3s ease; /* Animation du menu */
    height: 100%;
    /* overflow-x: hidden; */
}
.sidebar.open {
    left: 0; /* Le menu s'ouvre à gauche */
}

.sidebar h2 {
    margin-top: 0;
    padding-left: 0px;
    font-family: Gothic;
    font-style: oblique 18deg;
    font-weight: 800;
}

#add-folder-btn {
    margin-top: 10px;
    padding: 5px 10px;
}

#folder-list {
    list-style-type: none;
    padding: 0;
}

#folder-list li {
    padding: 8px;
    margin: 5px 0;
    background-color: #ffffff4f;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}


/* Style pour le bouton d'ouverture/fermeture du menu */
.menu-icon {
    position: fixed;
    top: 8px;
    left: 0px;
    transition: left 0.3s ease; /* Animation du contenu */
    font-size: 20px;
    cursor: pointer;
    z-index: 200; /* Pour que l'icône reste toujours visible */
    background-color: #853ce43b;
    padding: 5px 6px 5px 3px;
    border-radius: 0% 25% 25% 0%;
}

.menu-icon.open {
    left: 248px; /* Déplace l'icône de menu quand le menu est ouvert */
    transition: left 0.3s ease; /* Animation du contenu */
}

.main-content {
    margin-left: 0; /* Le contenu commence à gauche */
    transition: margin-left 0.3s ease; /* Animation du contenu */
    padding: 10px;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    min-width: 65%;
}

.main-content.shift {
    margin-left: 250px; /* Le contenu est décalé lorsque le menu est ouvert */
    transition: margin-left 0.3s ease; /* Animation du contenu */
}

h2 {
    margin: 6px 0px 10px 0px;
    padding-left: 25px;
    color: #4c0d6ff2;
}

h3 {
    margin: 10px 0;
    padding-left: 25px;
    color: #4c0d6ff2;
}

button {
    padding: 5px 10px;
	/* margin: 10px 0; */
}

input {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.main-content ul li {
    margin: 5px 0;
    background-color: #7b70ff30;
    padding: 0px 7px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
	align-items: center; /* Aligne les éléments verticalement au centre */
}

.main-content ul li button {
    padding: 3px 8px;
	margin-left: 10px; /* Espacement entre les deux boutons */
	margin: 5px;
}

.main-content ul li button:first-child {
  margin-left: 0; /* Supprime l'espacement du premier bouton */
}

.main-content ul li span {
  flex-grow: 1; /* Le texte occupe tout l'espace restant */
}

.dossier-top{
	margin-top: -69px;
}
.buton-dossier{
	display: flex;
	justify-content: flex-end;
	align-items: center;        /* Aligne verticalement au centre */
}

#edit-folder-name-btn {
    padding: 5px 5px;
    margin: 20px 0px 10px 0;
    background-color: #9177b173;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 3px;
}

#edit-folder-name-btn:hover {
    background-color: #9177b1b0;
}

#delete-folder-btn {
    padding: 5px 5px;
    margin: 20px 0px 10px 0;
    background-color: #9177b173;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 3px;
}

#delete-folder-btn:hover {
    background-color: #9177b1b0;
}



#img-modif{
	display: flex;
	justify-content: center;
	align-items: center;  
    width: 18px;   /* Ajustez la taille du logo */
    height: auto;   /* Maintenir les proportions de l'image */
}

#img-suppr{
	display: flex;
	justify-content: center;
	align-items: center;  
    width: 18px;   /* Ajustez la taille du logo */
    height: auto;   /* Maintenir les proportions de l'image */
}

