/* Structure générale */
body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid #ccc;
    position: fixed;
    height: 100%;
}

.sidebar h2 {
    margin-top: 0;
}

#add-folder-btn {
    margin-top: 10px;
    padding: 5px 10px;
}

#folder-list {
    list-style-type: none;
    padding: 0;
}

#folder-list li {
    padding: 8px;
    margin: 5px 0;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 3px;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

h3, h2 {
    margin: 10px 0;
}

button {
    padding: 5px 10px;
    margin: 10px 0;
}

input {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    background-color: #f4f4f4;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

ul li button {
    padding: 3px 8px;
}

#edit-folder-name-btn {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#edit-folder-name-btn:hover {
    background-color: #45a049;
}
